:root {
  --primary_color: rgb(226, 226, 255);
  --primary_font: "Poppins", sans-serif;
  --secondary_font: "Playfair Display", serif;
}

h1 {
  font-size: 36px;
  font-weight: bolder;
}
h2 {
  font-size: 24px;
  font-weight: lighter;
}

.homePage {
  text-align: center;
  background-color: var(--primary_color);
  padding: 160px 0;
  font-family: var(--primary_font);
}

.content_section {
  text-align: center;
  line-height: 1.9;
}

.contact_me_button {
  line-height: 27px;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 4px;
}

.project_title {
  font-size: 40px;
  font-family: var(--primary_font);
}

.project_snap {
  margin: 20px;
  max-width: 70%;
}

@media (max-width: 350px) {
  .project_title {
    font-size: 20px;
  }
}
