:root {
  --primary_color: rgb(226, 226, 255);
  --primary_font: "Poppins", sans-serif;
  --secondary_font: "Playfair Display", serif;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}
h2 {
  font-size: 24px;
  font-weight: lighter;
}
nav li {
  padding: 5px;
  display: inline;
}

.nav_link {
  text-decoration: none;
  transition: all 100ms ease-in-out;
  color: grey;
  font-weight: 500;
}
.active {
  color: #a393eb;
  font-weight: bolder;
}
.homePage {
  text-align: center;
  background-color: var(--primary_color);
  padding: 160px 0;
  font-family: var(--primary_font);
}

.content_section {
  text-align: center;
  line-height: 1.9;
  font-family: var(--primary_font);
}

.contact_me_button {
  line-height: 27px;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 4px;
  background-color: #a393eb;
  color: white;
}

.content_title {
  font-size: 30px;
  font-family: var(--primary_font);
}

.project_snap {
  margin: 20px;
  max-width: 70%;
  box-shadow: 0 4px 8px 0 #a393eb, 0 6px 20px 0 rgba(0, 0, 0, 2.19);
}
.work_title {
  color: black;
  font-size: 40px;
}
.work_link {
  text-decoration: none;
  color: #5a5d60;
}
.work_link :hover {
  color: rgb(202, 23, 178);
}
.work_email_img {
  display: flex;

  margin: 0 auto;
}
.footer_content {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer_content a {
  padding: 40px;
  font-size: 30px;
  margin-top: 20px;
  color: #a393eb;
}

.footer_content a:hover {
  color: rgb(202, 23, 178);
}

.git_hub_link {
  text-decoration: none;
  color: #a393eb;
}

.git_hub_footer {
  text-align: center;
  font-weight: bolder;
}

@media (max-width: 400px) {
  .project_title {
    font-size: 20px;
  }
  .work_title {
    font-size: 30px;
  }
}
